#
# Options
#
Options -Indexes
Options -Multiviews
Options -Includes
Options +SymLinksIfOwnerMatch
#
# Enable Server Side UTF-8
#
AddDefaultCharset UTF-8
#
# Enable Apache mod_rewrite
#
RewriteEngine On
#
# Method limit
#
RewriteCond %{REQUEST_METHOD} !^(HEAD|GET|POST)$
RewriteRule .* - [R=405,L]
#
# Redirect to HTTPS
#
RewriteCond %{SERVER_PORT} 80
RewriteCond %{HTTP_HOST} ^([a-z.]+)?ilonawojda\.pl [NC]
RewriteRule ^(.*)$ https://ilonawojda.pl/$1 [R=301,L]